* { margin: 0; padding: 0; }

body
{
  background-size: 50%;
  background-image: url("./ressources/manteaufond.jpg");
  background-attachment: fixed;
}

img
{
  width: 300px;
  position: relative;
}

.tete
{
  height: 50px;
  width: 100%;
  background: rgba(150, 150, 150, 0.7);
  position: fixed;
  top: 0px;
  margin-right: 8px;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.all
{
  background: rgba(150, 150, 150, 0.7);
  margin-top: 52px;
}

.pictures
{
  display: flex;
}

.pictures>div
{
  margin: auto;
  width: 250px;
  height: 250px;
  margin-top: 200;
  overflow: hidden;
  background: rgba(217, 217, 217, 0.7);
  box-shadow: 10px 10px 6px black;
  text-color: black;
}

.pictures img
{
  z-index: 1;
  transition-duration: 0.3s;
}

.pictures img:hover
{
  transition-duration: 0.3s;
  opacity: 0;
}

.text
{
  text-align: justify;
  padding: 20px;
  position: relative;
}

#bottom
{
  height: 200px;
}

#box1 img
{
  right: 30px;
  bottom: 10px;
}

#box1 div
{
  bottom: 400px;
}

#box2 img
{
  right: 30px;
  bottom: 70px;
}

#box2 div
{
  bottom: 423px;
}

#box3 img
{
  width: 400px;
  right: 10px;
}

#box3 div
{
  bottom: 310px;
}

#box4 img
{
  width: 310;
  right: 30px;
  bottom: 15px;
}

#box4 div
{
  bottom: 385px;
}

#box5 img
{
  right: 40px;
  bottom: 10px;
}

#box5 div
{
  bottom: 433px;
}

#box6 img
{
  width: 350px;
  right: 10px;
}

#box6 div
{
  bottom: 263px;
}


